<body class="bg-gray-100">

  <!-- Barra de navegación -->
  <nav class="bg-red-500 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-xl font-bold">Banco Santander</h1>
      <ul class="flex space-x-4">
        <li><a class="hover:underline" (click)="logOut()">LogOut</a></li>
      </ul>
    </div>
  </nav>

  <div class="grid-container">
    <h1 class="mat-h1">Welcome {{ name }}</h1>
    <div>
      <h1 class="mat-h1">If you want a card please press the button</h1>
      <button class="block bg-red-500 text-white p-2 rounded text-sm font-bold hover:bg-red-800" (click)="requestNewCard()">Log In</button>
    </div>
    <mat-grid-list cols="2" rowHeight="350px">
      <div *ngFor="let card of userCardList">
        <mat-card-content class="dashboard-card-content">
          <div  id="card">
            <img id="bankImg" src="../../assets/Santander.svg">
            <label id="bankNam">Santander</label>
            <label id="bankCard">Banking Card</label>
            <span id="cardNum">{{card.cardNumber}}</span>
            <span id="cardNam">{{card.cardOwner}}</span>
            <span id="cardExDate">VALID THRU: {{card.expirationDate?.toLocaleString("default", { month: "2-digit"})}}/{{card.expirationDate?.toLocaleString("default", { year: "2-digit"})}}</span>
          </div>
        </mat-card-content>
      </div>
    </mat-grid-list>
  </div>

  <div class="container mx-auto mt-2">
    <h2 class="text-2xl font-bold mb-4">Datos Personales</h2>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-xl font-bold">Nombre: {{ name }}</h3>
        <p class="text-lg">Correo Electrónico: {{ eMail }}</p>
        <p class="text-lg">Teléfono: {{ phoneNum }}</p>
        <p class="text-lg">RUT: {{ dni }}</p>
    </div>
  </div>
  <div class="container mx-auto mt-2">
    <div class="bg-white rounded-lg shadow-md p-4">
      <div *ngFor="let card of userCardList">
        <div id="card">
            <img id="bankImg" src="../../assets/Santander.svg">
            <label id="bankNam">Santander</label>
            <label id="bankCard">Banking Card</label>
            <span id="cardNum">{{card.cardNumber}}</span>
            <span id="cardNam">{{card.cardOwner}}</span>
            <span id="cardExDate">VALID THRU: {{card.expirationDate?.toLocaleString("default", { month: "2-digit"})}}/{{card.expirationDate?.toLocaleString("default", { year: "2-digit"})}}</span>
        </div>
    </div>
    </div>
  </div>

</body>

<app-dashboard></app-dashboard>

